extends layout 

block content 


  h1 Artist: #{artist.username}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Songs 

    dl 
      each song in artist_songs 
        dt 
          a(href=song.url)  song.title
        dd  book.description

      else 
        p This author has no songs.