extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='username') Artist's name:
      input#username.form-control(type='text' placeholder='name' name='username' required='true' value=(undefined===artist ? '' : artist.username) )
      label(for='bio') Bio:
      input#bio.form-control(type='text' placeholder='About the artist...' name='bio' required='true' value=(undefined===artist ? '' : artist.bio) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg