extends layout

block content
  h1= title
  p Welcome to #[em SongStore], a place to buy and sell songs.

  p The store has the following record counts: 

  ul
    li #[strong Songs:] !{song_count}
    li #[strong Artists:] !{artist_count}
    li #[strong Genres:] !{genre_count}
