* {
  margin: 0;
}

body, html {
  margin: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: blocl;
  
}

::-webkit-scrollbar {
  display: none;
}

canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}

#song-list, #song-info {
  position: fixed;
  color: white;
  font-size: 3rem;
  height: 70%;
  overflow: auto;
  font-family: 'Cambria';
}


a {
  color: white;
  background-color: rgba(0,0,0,.3);
}